body {
    font-family: sans-serif;
    background-color: #8fbc8f;
}
input[id="tokenKey"]{
    width: 250px;
    height: 15px;
}
input[id="fileId"]{
    width: 60px;
    height: 15px;
}
textarea {
    width: 60px;
    height: 15px;
}

pre {
    background: #556b2f;
    padding: 8px;
}

